<!-- Bestand: views/restMeasurementView.html -->
<!-- De content voor 'Training Setup' stond hierin, maar is nu verplaatst of zal worden geïntegreerd in andere, relevantere views. -->
<div class="top-nav">
    <button class="icon-button" data-action="backToDashboard"><i class="fas fa-chevron-left"></i></button>
    <span>Rustmeting (Oud)</span>
    <button class="icon-button"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div class="p-4">
    <p class="text-lg text-gray-300 mb-4">Deze view is verouderd. De functionaliteit is verplaatst naar de live meting of zal worden geïntegreerd in andere views.</p>
</div>
